<footer class="page-footer text-center font-small mt-0 wow fadeIn bg-primary">

   

    <hr class="my-0">

    <!-- Social icons -->
    <div class="pb-4">
      
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2022 Copyright  : 
          <a href="" style="text-decoration:none;font-size:larger; font-weight:600; color:rgb(255, 242, 0)" > Jasmin Fashions </a>
    </div>
    <!--/.Copyright-->

  </footer>